.textStyle{

    font-family: fantasy;
    font: 200;
    text-align: center;
    background-color: rgb(3, 36, 77);
    padding: 10px;
}

/* Table Reference From W3Schools */
.column {
    float: left;
    width: 33.33%;
    padding: 0px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .break{
    color: white;
    height: 5px;
  }