@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body{
    color: black;
}

#color{
    background-image: url("/assets/images/AudiLogo.png");
    background-size: cover;
    padding: 70px;
}