<mat-accordion>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b> Personal Data </b>
        </mat-panel-title>
        <mat-panel-description>
          <b><i> Enter Your Name & Date of Birth (Your Data Is Secure Under Our Policy Terms) </i></b>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input
        matInput
        type="text"
        name="Name"
        ngModel
        required
        minlength="3"
        #Name="ngModel">
       
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Save Post</button>

    

      <!--mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Number">
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b> Vehicle Information </b>
        </mat-panel-title>
        <mat-panel-description>
          <b><i> Enter You Vehicle Details In Order To Upload To Our Database </i></b>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Car Make">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Car Model">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Year">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Mileage">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Engine Size">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Fuel Type">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Transmission">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Body Type">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Colour">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Country of Registration">
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </mat-expansion-panel>
  </form>

</mat-accordion-->


