<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal Data
      </mat-panel-title>
      <mat-panel-description>
        Enter Name & Age
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">

      <mat-form-field>
        <br>
        Full Name:
        <br>
        <input matInput placeholder="Name" type="text" name="name" ngModel required minlength="3" #name="ngModel">
        <mat-error *ngIf="name.invalid">Please enter your full name.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <br>
        Age:
        <br>
        <br> <input matInput rows="4" name="age" ngModel required #age="ngModel">
        <mat-error *ngIf="age.invalid">Please enter your age.</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </form>

  </mat-expansion-panel>

</mat-accordion>