@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.background{

   background-image: url("/assets/images/banner.jpg");
   width: 100%;
    color: rgb(240, 248, 255);
    
    

}

.contact{

    background-color: rgb(254, 213, 183);
    color: rgb(0, 0, 0);

}