@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.background{

    background-color: rgb(150, 0, 100);
    color: rgb(240, 248, 255);

}

.contact{

    background-color: rgb(29, 0, 19);
    color: rgb(240, 248, 255);

}