<!--<mat-toolbar color='primary'>Posts</mat-toolbar>
<app-post-create></app-post-create>
<app-post-details></app-post-details> 
 <div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/']"><mat-icon>add</mat-icon></a>
</div> -->

<!--mat-toolbar-->
<div class="background">


  <mat-toolbar-row id="header">
    
      <button mat-button [routerLink]="['']"><h2>UZBORN</h2></button>
    
    <button mat-button [routerLink]="['/cars']"><h2>Used Cars</h2></button>
    <button mat-button id="color" [matMenuTriggerFor]="menu"><h2>Subscribe Now</h2></button>
    <mat-menu id="color" #menu="matMenu">
      <button id="color" mat-menu-item [routerLink]="['/create']">Create</button>
      <button id="color" mat-menu-item [routerLink]="['/list']">List</button>

    </mat-menu>
    <button mat-button [routerLink]="['/contact']"><h2>Contact</h2></button>



  </mat-toolbar-row>

</div>


<!--/mat-toolbar-->

<router-outlet></router-outlet>